body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoImage {
  width: 20rem;
  height: 20rem;
}

@media (max-width: 1200px) {
  .logoImage {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 800px) {
  .logoImage {
    width: 10rem;
    height: 10rem;
  }
}

.firstImage {
  width: 30rem;
  height: 30rem;
}

@media (max-width: 1200px) {
  .firstImage {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 800px) {
  .firstImage {
    width: 20rem;
    height: 20rem;
  }
}

.videoPresentation {
  width: 35rem;
  height: 20rem;
}

@media (max-width: 1200px) {
  .videoPresentation {
    width: 30rem;
    height: 18rem;
  }
}

@media (max-width: 800px) {
  .videoPresentation {
    width: 25rem;
    height: 15rem;
  }
}

.StepPresentationImage {
  width: 30rem;
  height: 30rem;
}

@media (max-width: 1200px) {
  .StepPresentationImage {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 800px) {
  .StepPresentationImage {
    width: 20rem;
    height: 20rem;
  }
}

.footer{
  width: 100%;
}

.temoignage {
  width: 25rem;
  height: 25rem;
}

@media (max-width: 1200px) {
  .temoignage {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 800px) {
  .temoignage {
    width: 15rem;
    height: 15rem;
  }
}

.temoignage {
  width: 22rem;
  height: 22rem;
}

@media (max-width: 1200px) {
  .temoignage {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 800px) {
  .temoignage {
    width: 15rem;
    height: 15rem;
  }
}